{% extends 'wrapper.html' %}
{% load static %}
{% block title %}О нас | autoasiakg{% endblock %}
{% block content %}


<body class="res layout-1">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

        {% include 'header.html' %}
    
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="about-us.html#"><i class="fa fa-home"></i></a></li>
			<li><a href="index.html">Главная</a></li>
			<li><a href="about-us.html#">О нас</a></li>
		</ul>
		
		<div class="row">			
            <div id="content" class="col-sm-12 item-article">
                <div class="row box-1-about">
                    <div class="col-md-9 welcome-about-us">
                        <div class="title-about-us">
                            <h2>Добро пожаловать в магазин-фото</h2>
                        </div>
                        <div class="content-about-us">
                            <div class="image-about-us">
                                <img src="{% static 'image/about/about.jpeg' %}" alt="Image Client">
                            </div>
                            <div class="des-about-us">Любые качественные детали по минимальной цене. Многие компании Бишкека, специализирующиеся на оптовой и розничной продаже автозапчастей для автомобилей, легковых иномарок и грузовой техники способны обеспечить в лучшем случае только два из трех условий идеальной покупки. Мы же предлагаем убедиться в том, что подобные условия вполне реальны.<br>

                              <br>  Нашими поставщиками являются крупные и известные заводы производители автокомпонентов автомобильной техники.<br>
                                
                              <br>  Принимая во внимание жесткую конкуренцию на современном рынке автозапчастей, мы предлагаем нашим покупателям максимальный выбор продукции с лучшим соотношением цена/качество.</div>
                        </div>
                    </div>
                    <div class="col-md-3 why-choose-us">
                        <div class="title-about-us">
                            <h2>Почему мы?</h2>
                        </div>
                        <div class="content-why">
                            <ul class="why-list">
                                <li><a title="Shipping &amp; Returns" href="about-us.html#">Качественные детали</a>
                                </li>
                                <li><a title="Secure Shopping" href="about-us.html#">Лучшая поддержка</a>
                                </li>
                                <li><a title="International Shipping" href="about-us.html#">Более 100 брендов!</a>
                                </li>
                                <li><a title="Affiliates" href="about-us.html#">Более 50 поставщиков!</a>
                                </li>
                                <li><a title="Group Sales" href="about-us.html#">Более 60 000 наименований запчастей!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 our-member">
                        <div class="title-about-us">
                            <h2>Наша команда</h2>
                        </div>
                        <div class="short-des"> Наша политика продаж подразумевает внимательное и предупредительное отношение к клиенту. Мы действительно заинтересованы в том, чтобы купленные у нас автозапчасти, служили долго, всегда готовы помочь с выбором автозапчасти путем технических консультаций.</div>
                        <div class="overflow-owl-slider1">
                            <div class="wrapper-owl-slider1">
                                <div class="row slider-ourmember">
                                    <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                        <div class="item respl-item">
                                            <div class="item-inner">
                                                <div class="w-image-box">
                                                    <div class="item-image">
                                                        <a title="Jennifer lawrence" href="about-us.html#">
                                                            <img src="{% static 'image/team/team2/team.jpeg' %}" alt="Image Client">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-member">
                                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="about-us.html#">Тилек Койчуманов</a></h2>
                                                    <p class="cl-job">Старший мастер по ходовой.</p>
                                                    <p class="cl-des">замена шаровых, сайлентблоков,солдатиков,колодок и т.д</p>
                                                    <ul>
                                                        <li>
                                                            <a class="fa fa-phone" title="Facebook" href="tel:+996501099709"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                        <div class="item respl-item">
                                            <div class="item-inner">
                                                <div class="w-image-box">
                                                    <div class="item-image">
                                                        <a title="Jennifer lawrence" href="about-us.html#">
                                                            <img src="{% static 'image/team/team2/team2.jpeg' %}" alt="Image Client">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-member">
                                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="about-us.html#">Кубан Субанов</a></h2>
                                                    <p class="cl-job">Токарь</p>
                                                    <p class="cl-des">Проточка тормозных дисков, изготовление направляющих тормозного суппорта и т.д</p>
                                                    <ul>
                                                        <li>
                                                            <a class="fa fa-phone" title="Facebook" href="tel:+996779911461"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                        <div class="item respl-item">
                                            <div class="item-inner">
                                                <div class="w-image-box">
                                                    <div class="item-image">
                                                        <a title="Jennifer lawrence" href="about-us.html#">
                                                            <img src="{% static 'image/team/team2/team3.jpeg' %}" alt="Image Client">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-member">
                                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="about-us.html#">Олег Синицын</a></h2>
                                                    <p class="cl-job">Специалист   компьютерного развала-схождения</p>
                                                    <!-- <p class="cl-des">Нашими поставщиками являются крупные и известные заводы производители автокомпонентов автомобильной техники.</p> -->
                                                    <ul>
                                                        <li>
                                                            <a class="fa fa-phone" title="Facebook" href="tel:+996707445448"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                        <div class="item respl-item">
                                            <div class="item-inner">
                                                <div class="w-image-box">
                                                    <div class="item-image">
                                                        <a title="Jennifer lawrence" href="about-us.html#">
                                                            <img src="{% static 'image/team/team2/team4.jpeg' %}" alt="Image Client">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-member">
                                                    <h2 class="cl-name"><a title="Jennifer lawrence">Мурат Мусаев</a></h2>
                                                    <p class="cl-job">Электрик и инжектощик</p>
                                                    <p class="cl-des">Ремонт электрической части авто, чистка форсунок, замена топливных фильтров,бензонасоса,чистка дроссельной заслонки и т.д</p>
                                                    <ul>
                                                        <li>
                                                            <a class="fa fa-phone" title="Facebook" href="tel:+996700530733"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                        <div class="item respl-item">
                                            <div class="item-inner">
                                                <div class="w-image-box">
                                                    <div class="item-image">
                                                        <a title="Jennifer lawrence" href="about-us.html#">
                                                            <img src="{% static 'image/team/team2/team5.jpeg' %}" alt="Image Client">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-member">
                                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="about-us.html#">Бакыт Ашимбеков</a></h2>
                                                    <p class="cl-job">Старший менеджер по запчастям</p>
                                                    <p class="cl-des">Консультация и продажа запчастей</p>
                                                    <ul>
                                                        <li>
                                                            <a class="fa fa-phone" title="Facebook" href="tel:+996700914161"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 happy-about-us">
                        <div id="slider-happy-about-us" class="happy-ab">
                            <div class="title-happy-about">
                                <h2>О autoasia</h2>
                            </div>
                      
                            <div class="yt-content-slider sm_imageslider slider-happy-client" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <div class="item">
                                    <div class="ct-why">
                                        <div class="client-say">Кропотливая ежедневная работа всех сотрудников проекта Autoasia.kg призвана удовлетворить потребности самых взыскательных клиентов. Искреннее желание помочь каждому клиенту, опыт, и высокий профессионализм наших сотрудников оставят у вас самое приятное впечатление. Всегда рады видеть вас в нашем интернет магазине Autoasia.kg

                                            Но основным является то, что любой товар из представленного на сайте можно приобрести уже сейчас. И, если Вы не находите в Каталоге или в Прайс Листах каких-либо интересующих вас изделий, пишите или звоните нам. Мы сделаем все возможное, чтобы Вы смогли приобрести необходимый вам товар.«autoasia.kg» ставит своей задачей продажу автозапчастей с минимальными усилиями для покупателя, а также предоставление потенциальным клиентам информации, необходимой для успешного выбора той или иной запасной части в режиме онлайн.</div>
                                        <p class="client-info-about"><span class="name">--Autoasia.kg--</span>Любимое место для вашей машины</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ct-why">
                                        <div class="client-say">In congue, justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis neque eget nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum consectetur metus nec dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, justo non cursus adipiscing, dui nibh scelerisque justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis.</div>
                                        <p class="client-info-about"><span class="name">- Join Doe - </span>Social Media Strategist</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ct-why">
                                        <div class="client-say">Dui nibh scelerisque justo, in congue, justo non cursus adipiscing, quis pretium turpis neque eget nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum consectetur metus nec dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, justo non cursus adipiscing, dui nibh scelerisque justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis.</div>
                                        <p class="client-info-about"><span class="name">- Join Doe - </span>Social Media Strategist</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ct-why">
                                        <div class="client-say">In congue, justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis neque eget nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum consectetur metus nec dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, justo non cursus adipiscing, dui nibh scelerisque justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis.</div>
                                        <p class="client-info-about"><span class="name">- Join Doe - </span>Social Media Strategist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- //Main Container -->
	

	 {% include 'footer.html' %}
    <!-- //end Footer Container -->

    </div>
</body>
{% endblock %}