{% load static %}
 <!-- Footer Container -->
    <footer class="footer-container typefooter-1">
        <!-- Footer Top Container -->
        <!-- Footer middle Container -->
        <div class="container">
            <div class="row footer-middle">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-style">
                    <div class="box-footer box-infos">
                        <div class="module">
                            <h3 class="modtitle">Связаться с нами</h3>
                            <div class="modcontent">
                                <ul class="list-icon">
                                    <li><i class="fas fa-map-marker-alt"></i><a href="https://2gis.kg/bishkek/firm/70000001023398167?m=74.528065%2C42.875423%2F17">    Патриса Лумумбы 8, 1 этаж</a> </li>
                                    <li><i class="fas fa-phone"></i>      <a href="tel:+9960505888181">  0505888181</a></li>
                                    <li><i class="fas fa-envelope"></i>     <a href="mailto:info@autoasia.kg">   info@autoasia.kg</a></li>
                                    <li><i class="fas fa-business-time"></i>   7 дней в неделю</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-style">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                            <div class="box-information box-footer">
                                <div class="module clearfix">
                                    <h3 class="modtitle">Информация</h3>
                                    <div class="modcontent">
                                        <ul class="menu">
                                            <li><a href="{% url 'main:index' %}">Главная</a></li>
                                            <li><a href="{% url 'main:about' %}">О нас</a></li>
                                            <li><a href="{% url 'cart:cart_detail' %}">Корзина</a></li>
                                            <li><a href="{% url 'main:contact' %}">Контакты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-dark">
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-socials">
                    <ul class="socials">
                       <li class="facebook"><a href="https://www.facebook.com/autoasia.kg" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="phone"><a href="tel:+9960505888181" target="_blank"><i class="fa fa-phone"></i></a></li>
                                <li class="whatsapp"><a href="https://wa.me/+9960505888181" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="instagram"><a href="https://www.instagram.com/autoasiakg/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Footer middle Container -->
        <!-- Footer Bottom Container -->
        <div class="footer-bottom">        
            <div class="container">
                <div class="row">
                    <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <p>Autoasia © 2020 магазин. All Rights Reserved. Все права защищены</p>
                    </div>   
                </div>
            </div>            
        </div>
        <!-- /Footer Bottom Container -->
        
        
            <!--Back To Top-->
        <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
    </footer>
    <!-- //end Footer Container -->