{% load static %}
<!-- Header Container  -->
    <header id="header" class=" typeheader-1">
        
        <!-- Header Top -->
        <div class="header-top hidden-compact"> 
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">           
                        <div class="telephone " >
                            <ul class="socials">
                                <li class="facebook"><a href="https://www.facebook.com/autoasia.kg" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="phone"><a href="tel:+9960505888181" target="_blank"><i class="fa fa-phone"></i></a></li>
                                <li class="whatsapp"><a href="https://wa.me/+9960505888181" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="instagram"><a href="https://www.instagram.com/autoasiakg/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>   
                    </div>    
                </div>
            </div>      
        </div>
        <div class="header-middle hidden-compact">
            <div class="container">
                <div class="row">           
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'image/catalog/logo.png' %}" title="Your Store" alt="Your Store" /></a>
                        </div>
                        
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 middle-right">
                        <div class="search-header-w">
                            <div class="icon-search hidden-lg hidden-md"><i class="fa fa-search"></i></div>                                
                              
                            <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                <form method="GET" action="index.html">
                                    <div id="search0" class="search input-group form-group">

                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Поиск..." name="search">
                                
                                        <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                                    
                                    </div>
                                    <input type="hidden" name="route" value="product/search" />
                                </form>
                            </div>
                        </div>

                        <div class="shopping_cart">
                            <div id="cart" class="btn-shopping-cart">

                                <a href="javascript:void(0)" data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <div class="shopcart">
                                        <span class="icon-c">
                                            <i class="fa fa-shopping-basket"></i>
                                        </span>
                                        <div class="shopcart-inner">
                                            <p class="text-shopping-cart">
                                                Корзина
                                            </p>
                                            {% with total_items=cart|length %}
                                                {% if cart|length > 0 %}
                                                    <span class="total-shopping-cart cart-total-full">
                                                    <span class="items_cart">{{ total_items }}</span><span class="items_cart2"> item(s)</span><span class="items_carts">{{ cart.get_total_price }}</span>
                                                    </span>
                                                {% else %}
                                                    <span class="total-shopping-cart cart-total-full">
                                                    <span class="items_cart">0</span><span class="items_cart2"> item(s)</span><span class="items_carts">0сом</span>
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </a>
                                <!-- {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    <span class="items_cart">{{ total_items }}</span><span class="items_cart2"> item(s)</span><span class="items_carts">{{ cart.get_total_price }}</span>
                                {% else %}
                                    <span class="items_cart">0</span><span class="items_cart2"> item(s)</span><span class="items_carts">0</span>
                                {% endif %}
                             {% endwith %} -->
                                <!--Рабочий код-->
                                <!-- <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                    <li>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center" style="width:70px">
                                                        <a href="product.html">
                                                            <img src="image/catalog/demo/product/80/1.jpg" style="width:70px" alt="Yutculpa ullamcon" title="Yutculpa ullamco" class="preview">
                                                        </a>
                                                    </td>
                                                    <td class="text-left"> <a class="cart_product_name" href="product.html">Yutculpa ullamco</a> 
                                                    </td>
                                                    <td class="text-center">x1</td>
                                                    <td class="text-center">$80.00</td>
                                                    <td class="text-right">
                                                        <a href="product.html" class="fa fa-edit"></a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:70px">
                                                        <a href="product.html">
                                                            <img src="image/catalog/demo/product/80/2.jpg" style="width:70px" alt="Xancetta bresao" title="Xancetta bresao" class="preview">
                                                        </a>
                                                    </td>
                                                    <td class="text-left"> <a class="cart_product_name" href="product.html">Xancetta bresao</a> 
                                                    </td>
                                                    <td class="text-center">x1</td>
                                                    <td class="text-center">3700сом</td>
                                                    <td class="text-right">
                                                        <a href="product.html" class="fa fa-edit"></a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a onclick="cart.remove('1');" class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <div>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left"><strong>Sub-Total</strong>
                                                        </td>
                                                        <td class="text-right">$140.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>Eco Tax (-2.00)</strong>
                                                        </td>
                                                        <td class="text-right">$2.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>VAT (20%)</strong>
                                                        </td>
                                                        <td class="text-right">$20.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>Total</strong>
                                                        </td>
                                                        <td class="text-right">$162.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-right"> <a class="btn view-cart" href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" href="checkout.html"><i class="fa fa-share"></i>Checkout</a> 
                                            </p>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom hidden-compact"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="menu-vertical-w">   
                            <div class="responsive so-megamenu megamenu-style-dev ">
                                <div class="so-vertical-menu ">
                                    <nav class="navbar-default">    
                                        
                                        <div class="container-megamenu vertical">
                                            <div id="menuHeading">
                                                <div class="megamenuToogle-wrapper">
                                                    <div class="megamenuToogle-pattern">
                                                        <div class="container">
                                                            <div>
                                                                <!-- {% for brand in brands %}
                                                                <li class="item-vertical">
                                                                    <p class="close-menu"></p>
                                                                    <a href="{% url 'main:automodels' brand.id %}" class="clearfix">                                                                   
                                                                        <span>{{ brand.name }}</span>                                                                    
                                                                    </a>
                                                                </li>
                                                                {% endfor %} -->
                                                            </div>
                                                            Все категории                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            <div class="navbar-header">
                                                <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">      
                                                    <i class="fa fa-bars"></i>
                                                    <span>Все категории</span>
                                                </button>
                                            </div>
                                            <div class="vertical-wrapper" >
                                                <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                    <div class="megamenu-pattern">
                                                        <div class="container-mega">
                                                            <ul class="megamenu">
                                                                {% for brand in brands %}
                                                                    <li class="item-vertical">
                                                                        <p class="close-menu"></p>
                                                                        <a href="{% url 'main:automodels' brand.id %}" class="clearfix">                                                                   
                                                                            <span>{{ brand.name }}</span>                                                                    
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        <div class="main-menu-w">
                            <div class="responsive so-megamenu megamenu-style-dev">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal open ">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        
                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                        <li class="home hover">
                                                            <a href="{% url 'main:index' %}">Главная</a>
                                                        </li>
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="{% url 'main:about' %}" class="clearfix">
                                                                <strong>О нас</strong>                                                          
                                                                <b class="caret"></b>
                                                            </a>
                                                        </li>
                                                       
                                                        
                                                        <li class="">
                                                            <p class="close-menu"></p>
                                                            <a href="{% url 'cart:cart_detail' %}" class="clearfix">
                                                                <strong>Корзина</strong>
                                             
                                                            </a>
                                                
                                                        </li>
                                                        <li class="">
                                                            <p class="close-menu"></p>
                                                            <a href="{% url 'main:contact' %}" class="clearfix">
                                                                <strong>Контакты</strong>
                                                                <span class="label"></span>
                                                            </a>
                                                        </li>
                                                        
                                                        
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

        </div>

    </header>
    <!-- //Header Container  -->